body{
    cursor: default;
    user-select: none;
}
.time{
    display: inline;
}
.day{
    display: inline-flex;
    justify-content: center;
    width: 12.5vw;
}
.day .head{
    color: rgb(65, 65, 65);
    border-radius: 15px;
    cursor: pointer;
}
.day .head:hover{
    background-color: rgb(225, 239, 252);
}